

/* переменные */
:root {
 --primary-color: #000000;
 --secondory-color: #FFFFFF;
 --third-color: #2F303A;
 --text-main-color:#212121;
 --text-secondary-color:#757575;
 --accent-color: #2196F3; 
 --secondary-font: "raleway";  
 /* --normal-font: 400; */
 --medium-font: 500;
 --bold-font: 700;
 --bolder-font: 900;
 --primary-font-size: 16px;
 --secondary-font-size: 14px;
}
/* сенантичекое скрытие элементов */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .list-style{
    list-style: none;
  }
  .item-centr{
   align-items: center;
  }

  /* main data */
.body {
  font-family: "roboto", sans-serif;
  background-color: #FFFFFF;
  }
.content{
  width: 1180px;
  margin: 0 auto;
}

/* header */
.header,.menu {
  display: flex;
  align-items: center;
}
.header{
width: 1600px;
/* padding-right: 215px; */
}
.header-logo{
text-decoration: none;
color: var(--primary-color);
font-family: "raleway";
font-size: 26px;
padding-left: 215px;
}
.web{
color: var(--accent-color);
}
.menu-list{
  list-style: none;
  display: flex;
}

.menu-item{
  font-family: var(--primary-color);
  font-size: var(--secondary-font-size);
  Line-height: 1.14;
  margin-right: 50px;
}
.menu-list:last-child{
  margin-right: 0;
  margin-left: 93px;
}

.menu-link{
  color: var(--primary-color);
  text-decoration: none;
}
.active-link{
color: var(--accent-color);
}

.header-contacts{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--secondary-font-size);
}
.header-email,.header-phone{
 text-decoration: none;
 color: var(--text-secondary-color);
}
.header-email:hover{
color: var(--accent-color);
}
.header-phone:hover{
  color: var(--accent-color);
}
.header-email{
  margin-right: 50px;
  margin-left: 250px;
}
.header-phone{
font-weight: var(--medium-font);
}
/* main */
/* <!--эффективные решения --> */
.main{
background-color: var(--third-color);
width: auto;
height: 600px;
}
.main{
  text-align: center
}
.main-text{
color: var(--secondory-color);
font-weight: var(--bolder-font);
line-height: 1.36;
font-size: 44px;
width: 696px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
padding-top: 200px;
}
.button{
  background-color: var(--accent-color);
  color: var(--secondory-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  padding: 10px 32px;
  cursor: pointer;
}
.button:hover{
background-color: var(--secondory-color);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}
/* .button{
box-shadow:4px 4px 4px 4px #2196F3 ;
} */

/* наши особенности */
/* чем мы занимаемся */
/* наша команда */

/* footer */

/* portgolio */
/* навигация кнопки */
.menu-button{
  margin-right: 280px;
  margin-left: 280px;
  margin-bottom: 34px;
  padding-top: 94px;
}
.blue-button{
background-color: var(--accent-color);
color: var(--secondory-color);
border: none;
padding: 6px 22px;
border-radius: 4px;
cursor: pointer;
}
.blue-button:hover{
background-color: var(--secondory-color);
color: var(--primary-color);
border: 1px solid var(--primary-color);
}

/* наши работы */